# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
src/App.java
src/non_Structured/Bank_Structured.java
src/non_Structured/Bank_Structured.java
src/oo/Account.java
src/buoi2/sinhvienTestDrive.java
src/tuan10buoi5/ReadingOj.java
src/tuan10buoi5/WritngOj.java
src/buoi8/HangThucPhamTestDrive.java
src/buoi8/HangThucPham.java
src/buoi8/CongTyDuLichTestDrive.java
src/buoi8/CongTyDuLich.java
src/buoi8/ChuyenXeNoiThanh.java
src/buoi8/ChuyenXeNgoaiThanh.java
src/buoi6/sinhVienTestDrive.java
src/buoi6/sinhVien.java
src/buoi6/lionTestDrive.java
src/buoi6/lion.java
src/buoi6/Hinhchunhat.java
src/buoi6/dog.java
src/buoi6/ChuNhatTestDrive.java
src/buoi6/Animal.java
