# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
src/App.java
src/non_Structured/Bank_Structured.java
src/non_Structured/Bank_Structured.java
src/oo/Account.java
src/buoi2/sinhvienTestDrive.java
